.filterBar {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
  margin-bottom: 10px;
  padding: 20px 0;
  flex-wrap: wrap;
}

.filterItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterItem label {
  font-size: 14px;
  color: #8a8a89;
}

.selectField,
.inputField {
  min-width: 160px;
  padding: 14px 18px;
  background-color: #f7f7fb;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  color: #121417;
  outline: none;
}

.selectField {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%23121417' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
  padding-right: 40px;
}

.inputField {
  min-width: 130px;
}

.searchButton {
  padding: 14px 44px;
  background-color: #3470ff;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
  margin-top: 24px;
}

.searchButton:hover {
  background-color: #0b44cd;
}
